<ion-header>

  <ion-navbar>
    <ion-title text-center>Login</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div text-center>
      <img src="assets/icon/logo.png" />
    </div>
    <ion-item no-padding>
      <ion-label floating>Username</ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>

    <ion-item no-padding>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <button ion-button type="submit" [disabled]="!loginForm.valid" block>
      <ion-icon name="log-in"></ion-icon>&nbsp;Login
    </button>
  </form>
  <button ion-button (click)="signUp()" block>
    <ion-icon name="md-person-add"></ion-icon>&nbsp;Signup</button>
</ion-content>
