<ion-header>

    <ion-navbar>
        <ion-title text-center>Registration</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
        <ion-item no-padding>
            <ion-label floating>Username</ion-label>
            <ion-input type="text" formControlName="username"></ion-input>
        </ion-item>

        <ion-item no-padding>
            <ion-label floating>Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <ion-item no-padding>
            <ion-label floating>Full Name</ion-label>
            <ion-input type="text" formControlName="fullName"></ion-input>
        </ion-item>
        <ion-item no-padding>
            <image-input formControlName="photo">Profile Picture</image-input>
        </ion-item>
        <ion-item no-padding>
            <ion-label>Gender</ion-label>
            <ion-select formControlName="gender">
                <ion-option value="Male">Male</ion-option>
                <ion-option value="Female">Female</ion-option>
            </ion-select>
        </ion-item>

        <button ion-button type="submit" block>
            <ion-icon name="md-person-add"></ion-icon>
            &nbsp;Signup
        </button>
    </form>
</ion-content>
