<ion-menu [content]="content" *ngIf="isAuthenticated">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <div *ngIf="user.photo" text-center class="user-profile">
      <img src="{{user?.photo}}" width="150px" height="auto" style="border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;">
    </div>
    <div *ngIf="user" class="user-profile-name">
      <div text-center>
        <strong>{{user.fullName}}</strong>
      </div>
    </div>

    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
        <ion-icon [name]="p.icon" item-right></ion-icon>
      </button>
      <button ion-item menuClose (click)="logout()">
        Logout
        <ion-icon name="md-log-out" item-right></ion-icon>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>