<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Home Page</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="edit(user)">
        <ion-icon name="ios-create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="mid-bar dark-bg z1 padding">
    <h3>{{user?.fullName}}</h3>
  </div>
</ion-content>
