<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Products</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let product of productList">
      <ion-item>
        <ion-avatar item-left>
          <img [src]="getImageUrl(product.photo)" [ngClass]="{'gray': isDefault(product.photo) }">
        </ion-avatar>
        <h2>{{product.name}}</h2>
        <p>{{product.description}}</p>
        <ion-note item-right>Available: {{product.stock}}</ion-note>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="dark" (click)="edit(product)">
          <ion-icon name="md-create"></ion-icon>
          Edit
        </button>
        <button [disabled]="product.stock < 1" ion-button color="primary" (click)="sellPrompt(product)">
          <ion-icon name="md-basket"></ion-icon>
          Sell
        </button>
        <button ion-button color="secondary" (click)="addPrompt(product)">
          <ion-icon name="md-add-circle"></ion-icon>
          Stock
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab (click)="createProduct()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
