<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Sold Items</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <h2>{{item.name}}</h2>
      <p>{{item.description}}</p>
      <ion-note item-right>Sold {{item.count}} item @ TK {{item.price}}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
